{
  "teams": {
    "mycompany": {
      "token": "xapp-1-xxxxx-your-app-level-token-here",
      "channels": ["C1234567890", "C0987654321"]
    },
    "clientteam": {
      "token": "xapp-1-yyyyy-your-app-level-token-here", 
      "channels": ["C1111111111"]
    },
    "opensource": {
      "token": "xapp-1-zzzzz-your-app-level-token-here",
      "channels": ["C2222222222", "C3333333333"]
    }
  },
  "handlers": {
    "console": {
      "enabled": true
    },
    "notification": {
      "enabled": false
    },
    "speech": {
      "enabled": false,
      "command": "say"
    }
  }
}
